[Unit]
Description=The Vue web service

[Service]
Type=forking
ExecStart=/bin/bash /home/node/vueweb.sh start 
ExecStop=/bin/bash /home/node/vueweb.sh stop

[Install]
WantedBy=multi-user.target
