
/*------------------------------------------------------------
  buttons.css

  Aug 28 2021       Initial
  Aug 29 2021       Work on look
-------------------------------------------------------------*/
.button {
  border: 1px solid black;
  border-radius: 5px;  
  min-width: 80px;
  padding: 6px;
  margin-top: 0.8rem;
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.button.red {
  border: 1px solid red;
  color: red;
}

.button.red:hover {
  background-color: red;
  color: white;
  transition: 1s;
}

.button.blue {
  border: 1px solid blue;
  color: blue;
}

.button.blue:hover {
  background-color: blue;
  color: white;
  transition: 1s;
}