/*------------------------------------------------------------
  main.css

  Jul 01 2021       Initial
  Jul 27 2021       Real work starts
  Aug 15 2021       Click menu when narrow screen
  Aug 27 2021       Adjust sub menu line height
  Aug 29 2021       Reorg : create menu.css
-------------------------------------------------------------*/
@import "./buttons.css";
@import "./menu.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* 
  Remove horizontal and vertical scroll bars 
  This is to avoid a strange flickering effect when hiding/showing the menu
  in small screen mode (media < 700px)
*/
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/cam1.jpg);
  background-position: center;
  background-size:cover;
  position: relative;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.footer h4 {
  margin: 8px;
  font-weight: 600;
}

.menu-icons {
  color: #eee;
  position: absolute;
  top: 10%;
  left: 2rem;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.icons .fa {
  color: #f44336;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 0;
}

/*-------------------------------------------------------------------
   General purpose 
-------------------------------------------------------------------*/
.underlined {
  text-decoration: underline;
}

.Hcompressed {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}

.centeredtext {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}


