/*------------------------------------------------------------
  main.css

  Jul 01 2021       Initial
  Jul 27 2021       Real work starts
-------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* 
  Remove horizontal and vertical scroll bars 
  This is to avoid a strange flickering effect when hiding/showing the menu
  in small screen mode (media < 700px)
*/
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/cam1.jpg);
  background-position: center;
  background-size:cover;
  position: relative;
}

/*-------------------------------------------------------------------
  main Navigation section
-------------------------------------------------------------------*/

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items:center;
}
.nav-list {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
  height: 10rem;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-list a:hover {
  color: #eb3007;
  transition: all 700ms;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.fas {
  margin-left: 7px;
}

.menu-icons {
  color: #eee;
  position: absolute;
  top: 10%;
  left: 2rem;
  cursor: pointer;
  z-index: 100;
  display: none;
}

/*-------------------------------------------------------------------
  Sub menus section
-------------------------------------------------------------------*/

.sub-menu li {
  line-height: .5rem;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-left: 1px solid #eb3007;
  z-index: 100;
  transition: all 700ms ease;
  opacity: 0;
  width:max-content;
  visibility: hidden;
  left: 80%;
}

.nav-list li:hover > .sub-menu {
  top: 2rem;
  opacity: 1;
  visibility: visible;
  left: 0;
}

.sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%;
}

.sub-menu .sub-menu {
  /* border-left: 1px solid #eb3007;*/
  top: 0;
  left: 160%;
}

/*-------------------------------------------------------------------
        Small  screen 
        720 for low price phone
--------------------------------------------------------------------*/
@media(max-width: 720px) {
  nav {
    height: 3rem;
    padding: 0;
    align-items: center;
  }
  .menu-icons {
    display: flex;
    font-size: 30px;
  }
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e2670;
    z-index: 200;
    align-items: initial;
    overflow-y: none;
    transition: 1s;
    overflow-y: scroll;
  }

  .nav-list > li {
    line-height: 2rem;
  }

  .sub-menu {
    position: initial;
    margin-left: 1rem;
    max-height: 0;
  }

  .sub-menu::before {
    display: none;
  }

  .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
    transition-timing-function: ease;
    transition:  2s;
  }

} 

/*-------------------------------------------------------------------
   Footer section 
-------------------------------------------------------------------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.footer h4 {
  margin: 8px;
  font-weight: 600;
}
.icons .fa {
  color: #f44336;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 0;
}

/*-------------------------------------------------------------------
   General purpose 
-------------------------------------------------------------------*/
.underlined {
  text-decoration: underline;
}

.Hcompressed {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}

.centeredtext {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}


