/* style for the css menu dropdown container */
.menu {
    position:relative;
    display:inline-block;
    z-index: 2;
    padding:0;
    margin:0;
    outline:0;
    text-align:left;
}

/* style for the button */
.menu:before {
    content: "\2630 \a0 Menu Click"; 
    color:white;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius:3px;
    background: #96305e;
}

.menu:focus { pointer-events:none; }

/* If :focus detected the dropdown menu is displayed by making it visible */
.menu:focus .menu-dropdown { opacity:1; visibility:visible; }

/* style for the dropdown box */
.menu-dropdown {
    background-color: #364656;
    width: auto;
    margin:3px 0 0 0;
    padding: 10px;
    border-radius:3px;
    border:1px black solid;
    border-radius:3px;
    pointer-events: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background: #1f8bd3;
}

/* style the links in the dropdown */
.menu-dropdown a {
    background:transparent;
    border:none;
    outline:0;
    display:block;
    color:white;
    text-decoration:none;
    width:160px;
    padding:5px;
}
